<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <ul>
        {% for todo in todos %}
        <li>
            <input type="checkbox" name="done" {% if todo['done'] %}checked{% endif %} onchange="this.form.submit()">
            <span {% if todo['done'] %}style="text-decoration: line-through"{% endif %}>{{ todo['task'] }}</span>
            <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
        </li>
    {% endfor %}
    </ul>
    <form action="/add" method="post">
        <input type="text" name="todo">
        <button type="submit">Add</button>
</body>
</html>